body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: azure;
}
main {
    max-width: 1080px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav{
    background-color: azure;
    color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        li{
            margin-right: 1em;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.myButton {
    background-color: #5598e4; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.myButton:hover {
    background-color: #1e62c9;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 1em 0;
    h1{
        font-size: 2em;
        margin-bottom: 0;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
    }
}
section{
    padding: 0%;
    text-align: left;
    background-image: linear-gradient(azure, rgb(91, 91, 100));
    background-color: #91d8d465;
    margin-bottom: 0%;
    h2{
        font-family: Arial;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        color: #04053d; 
    }
}
.stylized-break::after {
    content: "";
    display: block;
    border-bottom: 2px dotted #959fca;
    margin: 20px 0;
}
a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
        color: #000;
    }
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 0.2em 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    h3{
        font-size: 1.5em;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}